
:root {
  /**
   * Colors
   */
  --color-white: #ffffff;
  --color-text: #312e2e;
  --color-black: #000000;

  --color-gray: #7b7b7b;
  --color-gray-light:lightgrey;
;
  --color-primary: #d99898;


  /**
   * Fonts
   */
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-family-accent: Sriracha;
  --font-weight-extra-bold: 600;
  --font-weight-bold: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

}