.wrapper img {
  display: block;
  border-radius: 16px;
  height: 196px;
  width: 250px;
}

.title {
  margin-top: 10px;
}

.desc {
  margin-top: 5px;
  margin-bottom: 5px;
}

.contentImg {
  position: relative;
}

.pencil {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--color-white);
}
