.wrapper img {
  cursor: pointer;
  display: block;
  border-radius: 16px;
  height: 196px;
  width: 250px;
}

.title {
  margin-top: 10px;
}

.desc {
  margin-top: 5px;
  margin-bottom: 5px;
}

.contentImg {
  position: relative;
}

.pencil {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--color-white);
  background: var(--color-primary);
  border: none;
  border-radius: 20px;
  padding: 0;
  height: 35px;
  width: 35px;
}
.pencil:hover {
  background: var(--color-black);
}
