.image {
  width: 100%;
}
.title {
  font-weight: 600;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
}

.contentDesc {
  display: flex;
  flex-direction: column;
}
.contentDesc label {
  font-weight: 600;
}
.description {
  margin-top: 15px;
  font-weight: 400;
  color: var(--color-text)
}
